#content {
  width: 600px;
  background: PapayaWhip;
    border: 5px solid darkblue;
    padding: 15px 10px 20px 5px; /*T: 15px, R: 10px, B: 20px, L: 5px*/
    margin: 20px auto 5px; /* Addes 20px to the top & bottom and centers left/right*/
}

.crazy-color {
  color: fuchsia;
}

body{
    width: 200px;
    background-image: url(../Image/sweattearssea.jpg);
    padding: 5px;
}

img{
    width 100px;
    height: 100px;
    float: left;
    margin-right; 10px;
}

#footer{
    height: 20px;
    width: 100px;
    margin: auto;
    border: 10px solid yellow;
    background: #336699;
    font: 12px white;
    padding: 20px;
}
